<div class="container">
<div class="mb-3 col-auto">
  <form action="/" onchange=submit()>
    <select name="categoryId">
      <option>類別</option>
      <option value=1>家居物業</option>
      <option value=2>交通出行</option>
      <option value=3>休閒娛樂</option>
      <option value=4>餐飲食品</option>
      <option value=5>其他</option>
    </select>
  </form>
</div>


<h2>總金額: {{totalAmount}}</h2>

{{#each records}}
<div class="my-2">
  <div class="outline border border-secondary rounded d-inline-block">
    <div class="m-2">
      <i class="{{#addIcon this.categoryId}}{{/addIcon}}"></i>
      {{this.name}}
      {{this.date}}
      {{this.amount}}
      <a href="/records/{{this._id}}/edit" class="mx-3 btn btn-success" role='button'>edit</a>
      <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit" class="mx-3 btn btn-danger">delete</button>
      </form>
    </div>
  </div>
</div>
{{/each}}

<a href="/records/new" class="btn btn-info">新增支出</a>
<a href="/" class="btn btn-warning">顯示全部</a>
</div>